.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 40px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: 1px solid #1f1e1e;
    border-radius: 0;
    outline: none;
    font-weight: 600;
    font-size: 16;
    line-height: 1.3;
    color:  #1f1e1e;
    transition: background-color 0.2s, color 0.2s;
    &:hover{
    background-color: #1f1e1e;
    color: #FFFF;
    }
    &:active{
    background-color: #1f1e1e;
    color: #FFFF;
    }
    &-orange{
        background-color: @red;
        border: none;
        color: @white;
        transition: background-color 0.2s;
    }
    &-orange:hover,
    &-orange:active{
        background-color: @red_dark;
    }
}


.btn1__i-want{
    font-family: @font2;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: @black;
}

.btn1__btn-row{
    display: flex;
    flex-direction: row;
    gap: 106.12px;
    padding-top: 30px;
}