.content {
    // display: flex;
    color: @black;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
    word-wrap: break-word;
    h1,
    h2,
    h4,
    h4,
    h5,
    h6 {
      margin: 1.3em 0 0.8em;
      font-family: @font1;
      color: @black;
      font-weight: 600;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
    }
    h4 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    ol,
    ul,
    p {
      margin: 20px 0;
      font-family: @font1;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul,
    ol {
      position: relative;
      padding: 0;
      list-style: none;
      font-family: @font1;
    }
    ul > li {
      box-sizing: border-box;
      position: relative;
      padding-left: 20px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: @red;
        pointer-events: none;
      }
    }
    ol {
      counter-reset: li;
      padding: 0;
    }
    ol > li {
      counter-increment: li;
      &::before {
        content: counter(li) + ". ";
        box-sizing: border-box;
        display: inline-block;
        min-width: 20px;
        color: @red;
        white-space: pre;
      }
    }
    ul > li,
    ol > li {
      margin: 0 0 8px;
      cursor: default;
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    img,
    iframe,
    figure {
      display: block;
      max-width: 700px;
    }
    & > img,
    & > iframe,
    & > figure {
      margin: 30px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    iframe {
      border: none;
      outline: none;
    }
    figure {
      img {
        max-width: 100%;
        display: block;
        margin: 0;
      }
    }
    figcaption {
      margin: 15px 0;
      color: fade(@black, 60%);
      font-weight: 500;
      font-size: 13px;
      text-align: left;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    img {
        &[align],
        &.alignright {
            margin: 5px 0;
            & + figcaption {
            display: none;
            }
        }
        &[align="right"],
        .alignright {
            margin-left: 10px;
        }
        &.alignright {
            float: right;
        }
        &[align="left"],
        &.alignleft {
            margin-right: 10px;
        }
        &.alignleft {
            float: left;
        }
         
    }

    figcaption{
        font-size: 13px;
        margin: 15px 0 0;
        text-align: left;
        font-weight: 400;
        line-height: 1.3;
        color: @black;
    }
    
    a {
      font-weight: 600;
      color: @black;
      text-decoration: underline;
      

      transition: text-decoration-color 0.2s;
      cursor: pointer;
      &:hover {
        color: @red;
        text-decoration-color: transparent;
      }
    }
    blockquote {
      position: relative;
      margin: 25px 0 30px;
      padding: 0 0 0 20px;
      color: fade(@black, 90%);
      font-style: normal;
      font-weight: 600;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: @red;
      }
    }
    b {
      font-weight: 700;
    }
  }