.field{
    display: flex;
    flex-direction: column;

    label.error,
    span.error {
      color: @red_dark;
      display: block;
      margin: 5px 0 0;
    }

    &__input,
    &__textarea{
        box-sizing: border-box;
        display: block;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: @white;
        font-size: 16px;
        line-height: 1.375;
    }
    
    &__input{
        height: 55px;
        // padding: 17px 20px;
        padding: 0 20px;

    }
    &__textarea{
        height: 150px;
        padding: 20px;
    }
    &__label{
        // display: block;
        // margin: 0 0 5px;
        // margin: 0 0 10px;
        // font-weight: 400;
        // font-weight: 700;
        // font-size: 16px;
        // list-style: 1.3;
        // color: @black;

        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 1.3;
        color: @black;
    }
    &__title{
        margin: 0 0 10px;
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.3;
        color: @black;
    }
    &__select{
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 0 20px;
        background-color: @white;
        height: 55px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.3;
        color: @black;
    }

    // &__date-inputs{
    //     display: flex;
    //     gap: 15px;//отступы между элементами
    // }

    // &__date-input{
    //     box-sizing: border-box;
    //     display: block;
    //     border: none;
    //     border-radius: 5px;
    //     background-color: @white;
    //     font-size: 16px;
    //     line-height: 1.375;
    //     text-align: center; //tac - укороченная
    //     width: 55px;
    //     height: 55px;
    //     padding: 17px 13px 16px; //p17-13-15 - укороченная
    //     &--w110{
    //         width: 110px;
    //     }
    // }

    &__date {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 250px;
      }
    &__date-inputs {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 55px;
        pointer-events: none;
      }
    &__date-input {
        box-sizing: border-box;
        display: block;
        width: 55px;
        height: 55px;
        margin-right: 15px;
        border: none;
        border-radius: 5px;
        background-color: @white;
        padding: 0 5px;
        font-size: 16px;
        line-height: 1.375;
        text-align: center;
        pointer-events: none;
        @media @bw400 {
          font-size: 14px;
        }
        &--year {
          flex-grow: 1;
          margin-right: 0;
        }
      }
    &__date-picker {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        max-width: 250px;
        height: 55px;
        border: none;
        border-radius: 5px;
        opacity: 0;
        cursor: pointer; 
    }

}