.logo-quote{
    text-align: center;
    width: 50%; margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    // margin: 0 25px;
    color: #1f1e1e;   
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.3;
    &__quote{

    }
}