.pp {
    display: none;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 90px 40px 50px;
    background-color: fade(@gray, 98%);
    overflow-y: auto;
    z-index: 110;
    &__wrapper{
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1210px;
        margin: auto;
        background-color: @gray;
        background-image: url(src/assets/images/nose.rng);
        background-position: 0 0;
        background-size: auto;
        background-repeat: repeat;
        box-shadow: 0 0 30px rgba(31, 31, 30, 0.55);

        @supports (backdrop-filter: blur(20px)){
            box-shadow: none;
        }
    }

    &__container{
        box-sizing: border-box;
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
        padding: 0 40px 40px;
    }

    &__title{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: -40px 0 70px -85px;
        padding: 10px 85px;
    }

}